{% extends "layouts/base.html" %}
{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% load static %}
{% block content %}


<div id="osm-map" style="padding:50px;height:500px;">

  </div>
<script  type="application/javascript">

    var element = document.getElementById('osm-map');
    var map = L.map(element);
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
    map.fitWorld();
    function success(data){
        jsonData = data;
        var lat = jsonData.Latitude;
        var lon = jsonData.Longitude
        var imei = jsonData.IMEI;
        var timestamp = jsonData.timestamp;
        var target = L.latLng(lat, lon);
        map.setView(target, 14);
        var mark=L.marker(target).bindPopup("Tag_ID: "+imei).addTo(map);
        mark.openPopup();

                }


function callAjax_1(){
            $.ajax({
                url: 'http://127.0.0.1:8000/api/getlatlan_tag1',
                dataType: 'json',
                type: 'get',
                contentType: 'application/json'
})

.done(function (data) { success(data); })
.fail(function (jqXHR, textStatus, errorThrown) {  console.log(jqXhr); });
              }
function callAjax_2(){
            $.ajax({
                url: 'http://127.0.0.1:8000/api/getlatlan_tag2',
                dataType: 'json',
                type: 'get',
                contentType: 'application/json'
})

.done(function (data) { success(data); })
.fail(function (jqXHR, textStatus, errorThrown) {  console.log(jqXhr); });
              }
function callAjax_3(){
            $.ajax({
                url: 'http://127.0.0.1:8000/api/getlatlan_tag3',
                dataType: 'json',
                type: 'get',
                contentType: 'application/json'
})

.done(function (data) { success(data); })
.fail(function (jqXHR, textStatus, errorThrown) {  console.log(jqXhr); });
              }

$(document).ready(function(e){
    callAjax_1();
    callAjax_2();
    callAjax_3();
});

</script>
<br>
<div class="row justify-content-md-center">
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-light shadow-sm">
                    <div class="card-body">
                        <div class="row d-block d-xl-flex align-items-center">
                            <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                                    <span class='fa-stack fa-lg'>
                                        <i class='fas fa-circle fa-stack-1x' style="font-size:55px;color:#47d1d1"></i>
                                        <i class='fas fa-city fa-stack-1x fa-inverse' style="font-size:20px;color:white"></i>
                                    </span>
                                    </div>
                            <div class="col-12 col-xl-7 px-xl-0">
                                <div class="d-none d-sm-block">
                                    <a class="nav-link" href="/show">
                                        <h3 class="mb-1">003</h3>
                                        <h6 class="h6">Sites</h6>
                                    </a>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-light shadow-sm">
                    <div class="card-body">
                        <div class="row d-block d-xl-flex align-items-center">
                            <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                                    <span class='fa-stack fa-lg'>
                                        <i class='fas fa-circle fa-stack-1x' style="font-size:55px;color: #1ab2ff"></i>
                                        <i class='fas fa-car-side fa-stack-1x fa-inverse' style="font-size:20px;color:white"></i>
                                    </span>
                                </div>
                            <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <a class="nav-link" href="/showCar" alt="alert">
                                <h3 class="mb-1">003</h3>
                                <h6 class="h6">Asset Cars</h6>
                                    </a>
                            </div>
                          </div>
                            </div>
                        </div>
                    </div>
            </div>
    <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-light shadow-sm">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                                <span class='fa-stack fa-lg'>
                                     <i class='fas fa-circle fa-stack-1x' style="font-size:55px;color: #9933ff" ></i>
                                     <i class='fas fa-ethernet fa-stack-1x fa-inverse' style="font-size:20px;color:white" ></i>
                                </span>

                          </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <a class="nav-link"  href="/showOBD" alt="alert">
                                <h3 class="mb-1">002</h3>
                                <h6 class="h6">Tag OBD</h6>
                                </a>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-light shadow-sm">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                                <span class='fa-stack fa-lg'>
                                     <i class='fas fa-circle fa-stack-1x' style="font-size:55px;color:#ff3333" ></i>
                                     <i class='fas fa-exclamation-triangle fa-stack-1x fa-inverse' style="font-size:20px;color:white" ></i>
                                </span>
                          </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <a class="nav-link" href="alert_view.html" alt="alert">
                                <h3 class="mb-1">002</h3>
                                <h6 class="h6">Total Alerts</h6></a>
                              </div>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->

{% block javascripts %}



{% endblock javascripts %}
